@media screen and (max-width: 840px) {

    /* Cards row */
    .card {
        display: block;
        width: 100%;
        margin-bottom: 2em;
    }

    .line.after-card {
        margin: 0 auto  2em;
    }

    .cards-row .after-card + .card {
        margin-left: 0;
    }

    .after-card {
        display: inline-block;
    }

    .cards-row > :last-child {
        display: none;
    }

    /* Pages  row */
    .page {
        display: block;
        width: 95%;
        margin: 3em auto;
    }

    .page-img > img {
        width: 100%;
    }

    .page h3 {
        padding: 1em 0;
    }

    .pages-row .page + .page {
        margin: 3em auto;
    }
}
@media screen and (min-width: 500px) and (max-width: 840px) {
    .card-info {
        margin-top: -1em;
    }
}

@media screen and (min-width: 720px) and (max-width: 960px){
    .page {
        display: inline-block;
        width: 40%;
        margin: 3em auto 0;
    }

    .pages-row .page + .page {
        margin: 0 auto;
    }
}

@media screen and (min-width: 420px) and (max-width: 720px) {
    .page {
        width: 60%;
    }
}

@media screen and (max-width: 420px) {
    .page {
        width: 80%;
    }
}
