/* Document style */
:root {
    --main-bg-color: #ebebeb;
    --main-heading-color: #373435;
    --box-shadow-color: rgba(0,0,0,0.1);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    color: #676364;
    font: 14px Source Sans Regular, Tahoma, sans-serif;
    margin: 0;
    background: #282828 url("../../images/bg-main.png") repeat left top;
}

img {
    max-width:100%;
    max-height: 100%;
}

@font-face {
    font-family: "Source Sans Black";
    src: url("../../fonts/SourceSansPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Regular";
    src: url("../../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Bold";
    src: url("../../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

/* Container */
#wrapper {
    max-width: 1024px;
    padding: 0 5px 50px;
    margin: 100px auto 0;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 7px;
}

/* Header */
header {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
}

.page-heading {
    padding: 20px 30px;
    margin-top: -50px;
    box-shadow: -11px 11px 0 0 var(--box-shadow-color);
    background-color: var(--main-bg-color);
    color: var(--main-heading-color);
    font: 40px "Source Sans Black", Tahoma, sans-serif;
    border-radius: 7px;
}

/* Navigation */
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto 20px;
    padding: 0;
}

.menu li {
    flex: 0 1 auto;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px #d2d2d2 solid;
    border-bottom: 1px #d2d2d2 solid;
    list-style-type: none;
    font: 16px "Source Sans Regular", Tahoma, sans-serif;
}

.menu li+li {
    margin-left: 5%;
}

.menu li.active {
    color: #ed3237;
}

.menu a {
    color: #909090;
    text-decoration: none;
}

/* Slider */
.slider {
    border-radius: 7px 0 7px 7px;
}

.slider img {
    width: 95%;
    box-shadow: -11px 11px var(--box-shadow-color);
    border-radius: inherit;
    margin: 0 auto 11px;
}

.content-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.section-heading {
    margin-top: 2em;
    margin-bottom: 0;
    color: var(--main-heading-color);
    font: 32px "Source Sans Bold", Tahoma, sans-serif;
    text-transform: uppercase;
}

.section-details{
    margin: 5px auto 40px;
    width: 70%;
    font:  18px "Source Sans Regular", Tahoma, sans-serif;
}

/* Button rows */
.button-attention {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
    background-color: var(--main-bg-color);
}

.button-attention a {
    padding: 10px 15px;
    color: white;
    background-color: #ed3237;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    box-shadow: -6px 6px var(--box-shadow-color);
}

.new-button-row {
    position: relative;
    display: flex;
    flex-flow: column;
    margin: 30px auto;
    width: 95%;
}

.line-col {
    margin-top: 10px;
    align-self: stretch;
}

.new-line {
    margin: 0 auto;
    height: 10px;
    border-top: 1px solid #cccccc;
}

.new {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 9em;
    position: absolute;
}


.card {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    min-width: 200px;
    max-width: 300px;
    margin: 20px auto;
}

.cards-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 3%;
    align-self: stretch;
}

.card-img {
    padding: 20px;
    background-color: var(--main-heading-color);
    color: #ffffff;
    border-radius: 5px 0 5px 5px;
    box-shadow: -6px 6px var(--box-shadow-color);
}

.card-img.fa {
    font-size: 24px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-info {
    align-self: flex-end;
    text-align: left;
    max-width: 70%;
}

.card-heading {
    flex: 0 1 70%;
    margin-top: 0;
    width: 70%;
    text-transform: uppercase;
    text-align: left;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    color: var(--main-heading-color);
}

.card-details {
    margin: 0 auto 20px;
    font: 14px "Source Sans Regular", Tahoma, sans-serif;
}

.info-link {
    vertical-align: bottom;
    text-decoration: none;
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: var(--main-heading-color);
}

.info-link .fa.fa-chevron-right {
    color: #ff0036;
    font-size: 13px ;
}

.line {
    margin: 50px 2.5% auto;
    align-self: stretch;
    border-top: 1px solid #cccccc;
}

.news-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news {
    flex: 1 1 auto;
    flex-basis: 300px;
    min-width: 200px;
    max-width: 250px;
    border-radius: 7px 0 7px 7px;
    box-shadow: -6px 6px var(--box-shadow-color);
    margin: 20px;
    padding-bottom: 20px;
    background-color: #e2e2e2;
    text-align: left;
}

.news-img {
    width: 100%;
}

.news-heading,
.news-details,
.news .info-link {
    margin-left: 10%;
    margin-right: 5%;
}

.news-heading {
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    color: var(--main-heading-color);
}

.tag-cloud-heading {
    margin-top: -30px;
    color: #ff0036;;
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
}

.tag {
    margin: 5px;
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    border: 2px solid var(--box-shadow-color);
    box-shadow: -5px 5px var(--box-shadow-color);
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
}

.footer {
    flex: 1 1 auto;
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    flex-basis: 120px;
    align-items: center;
}

.footer-details {
    color: var(--main-bg-color);
    font: 16px "Source Sans Regular", Tahoma, sans-serif;
}
