.accordeon {
    flex: 2;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(0,0,0, 0.1);
    cursor: pointer;
}

.news {
    height: 90px;
    overflow: hidden;
    transition: height 2s;
    padding-bottom: 0;
}

.news-heading {
    flex: 6;
}

.news-shortcut {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
}

.accordeon .fa.fa-chevron-up,
.check-dropdown-news:checked + .news .accordeon > .fa.fa-chevron-down {
    display: none;
}

.check-dropdown-news:checked + .news .accordeon > .fa.fa-chevron-up,
.accordeon .fa.fa-chevron-down {
    display: inherit;
}

.check-dropdown-news:checked + .news {
    height: 350px;
    padding-bottom: 20px;
}

.check-dropdown-news {
    display: none;
}

