/* Document style */
:root {
    --main-bg-color: #ebebeb;
    --main-heading-color: #373435;
}

body {
    margin: 0;
    color: #676364;
    background: #282828 url("../../images/bg-main.png") repeat left top;
    font: 14px Source Sans Regular, Tahoma, sans-serif;
}

@font-face {
    font-family: "Source Sans Black";
    src: url("../../fonts/SourceSansPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Regular";
    src: url("../../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans Bold";
    src: url("../../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

/* Container */
#wrapper {
    padding-bottom: 50px;
    margin: 100px auto 0;
    text-align: center;
    max-width: 1024px;
    background-color:  var(--main-bg-color);
    border-radius: 7px;
}

/* Header */
.page-heading {
    display: inline-block;
    padding: 30px;
    margin-top: -50px;
    border-radius: 7px;
    box-shadow: -11px 11px 0 0 rgba(0,0,0,0.1);
    background-color:  var(--main-bg-color);
}

.page-heading {
    color: var(--main-heading-color);
    font: 40px "Source Sans Black", Tahoma, sans-serif;
}

/* Navigation */
.menu {
    margin: 20px auto;
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-position: inside;
    display: inline-block;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px #d2d2d2 solid;
    border-bottom: 1px #d2d2d2 solid;
    font: 16px "Source Sans Regular", Tahoma, sans-serif;
}

.menu li+li {
    margin-left:30px;
}

.menu li.active {
    color: #ed3237;
}

.menu a {
    color: #909090;
}

/* Slider */
img {
    max-width:100%;
    max-height: 100%;
}

.slider {
    border-radius: 7px 0 7px 7px;
}

.slider-img {
    width: 95%;
    box-shadow: -11px 11px rgba(0,0,0,0.1);
    border-radius: inherit;
    margin: 0 auto 11px;
}

/* Sections */
.content-section {
    margin-top: 50px;
    padding-bottom: 10px;
}

.section-heading {
    margin-bottom: 0;
    color: var(--main-heading-color);
    font: 32px "Source Sans Bold", Tahoma, sans-serif;
    text-transform: uppercase;
}

.section-intro {
    margin: 5px auto 40px;
    width: 70%;
    font:  18px "Source Sans Regular", Tahoma, sans-serif;
}

/* Button rows */
.button-attention {
    padding: 10px 15px 15px;
    vertical-align: top;
    background-color: var(--main-bg-color);
    display:inline-block;
}

.button-attention a {
    padding: 10px 15px;
    color: white;
    background-color: #ed3237;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    box-shadow: -6px 6px rgba(0,0,0,0.1);
}

/* News cards */
.cards-row {
    overflow: hidden;
    width: 95%;
    margin: 10px auto;
}

.cards-row .after-card + .card {
    margin-left:5%;
}

.card {
    float: left;
    display: inline-block;
    width: 30%;
}

.card-img {
    display: inline-block;
    float:left;
    width:25%;
    font-size: 24px;
}

.card-img > .fa {
    padding: 20px;
    background-color: var(--main-heading-color);
    color: #ffffff;
    border-radius: 5px 0 5px 5px;
    box-shadow: -6px 6px rgba(0,0,0,0.1);
}

.card-info {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.card-title {
    display: inline-block;
    width: 70%;
    text-align: left;
    margin-left: 5%;
}

.card-span {
    width: 25%;
    height: 100%;
    display: inline-block;
    float: left;
}

.card-description {
    width: 70%;
    margin-left: 5%;
    display: inline-block;
}

.card-title h3 {
    margin-top: 0;
    width: 70%;
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    color: var(--main-heading-color);
}

.card-info p {
    margin: 0 auto 20px;
    font: 14px "Source Sans Regular", Tahoma, sans-serif;
}

.after-card {
    display: none;
}

.info-link {
    vertical-align: bottom;
    text-decoration: none;
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: var(--main-heading-color);
}

.info-link .fa.fa-chevron-right {
    color: #ff0036;
    font-size: 13px ;
}

.line {
    margin: 50px auto 0;
    border-top: 1px solid #cccccc;
    width: 95%;
}

/* Pages row */
.news-row {
    align-content: center;
    margin: 10px auto;
}

.news {
    display: inline-block;
    min-height: 350px;
    padding-bottom: 20px;
    width: 20%;
    border-radius: 7px 0 7px 7px;
    box-shadow: -6px 6px rgba(0,0,0,0.1);
    background-color: #e2e2e2;
    text-align: left;
}

.news-row .news + .news {
    margin-left: 5%;
}

.news-heading,
.news-intro,
.news .info-link {
    margin-left: 10%;
}

.news-heading {
    min-height: 60px;
    padding-right: 0.5em;
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
    color: var(--main-heading-color);
}

.news-img {
    width: 100%;
}

.news-intro {
    font: 14px "Source Sans Regular", Tahoma, sans-serif;
}

.tag-cloud {
    align-content: center;
    margin: -30px auto 10px;
}

.tag-cloud-heading {
    margin: -10px 0 20px;
    color: #ff0036;;
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
}

.tag {
    margin: 5px;
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.1);
    box-shadow: -5px 5px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font: 16px "Source Sans Bold", Tahoma, sans-serif;
}

.footer-details {
    margin: 30px auto;
    color:  var(--main-bg-color);
    text-align: center;
    font: 16px "Source Sans Regular", Tahoma, sans-serif;
}

.new-button-row {
    position: relative;
    margin: 40px auto 0;
    width: 95%;
}

.line-col {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.new-line {
    margin: 0 auto;
    height: 10px;
    border-top: 1px solid #cccccc;
}

.new {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 9em;
}